.contacts {
  position: relative;
  .container();
  padding-top: 1px;
  padding-bottom: 1px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  z-index: 2;
  background-color: #ffffff;

  &::after {
    content: "";
    position: absolute;
    bottom: -80px;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100px;
    background: url(../../img/bg-triangle-white-footer.svg) no-repeat center;
    background-size: cover;
  }
}

.contacts__title {
  width: 280px;
  margin: 0 auto;
  margin-top: 46px;
  margin-bottom: 40px;
  padding: 0;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
}

.contacts__item {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 35px;
  &:last-of-type {
    margin-bottom: 30px;
  }
}

.contacts__text {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
}

.contacts__text--red {
  margin: 0;
  padding: 0;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
  color: #d22856;
}

@media(min-width: @tablet-width) {
  .contacts {
    padding-bottom: 10px;

    &::after {
      bottom: -99px;
    }
  }

  .contacts__title {
    width: 380px;
    font-size: 40px;
    line-height: 40px;
  }

  .contacts__wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .contacts__item {
    width: 300px;
    margin: 0;
    margin-bottom: 50px;

    .contacts__text--red {
      width: 215px;
      margin: 0 auto;
    }

    &:last-of-type {
      margin: 0 auto;
    }
  }
}

@media(min-width: @desktop-width) {
  .contacts::after {
    height: 130px;
    bottom: -129px;
  }

  .contacts__wrap {
    width: 870px;
    margin: 0 auto;
  }

  .contacts__item {
    width: 250px;
    margin: 0;

    &:last-of-type {
      margin: 0;
    }

    &:nth-of-type(2) {
      order: 2;
    }
  }

  .contacts__title {
    margin-top: 70px;
    margin-bottom: 58px;
  }
}
