.features {
  background-color: #f2f2f2;
  font-size: 14px;
  line-height: 24px;
  font-weight: inherit;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: -10px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../../img/bg-triangle-white.svg) no-repeat center;
    background-size: cover;
  }
}

.features__wrap {
  .container();
  padding-top: 1px;
}

.features__list {
  list-style: none;
  margin: 0;
  margin-top: 120px;
  padding: 0;
  padding-top: 1px;
}

.features__item {
  margin-bottom: 38px;
}

.features__title {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  margin-bottom: 17px;
  padding: 0;
  text-align: center;
}

.features__description {
  margin: 0 auto;
  padding: 0;
  width: 280px;
  text-align: center;
}

.features__images {
  overflow: hidden;
  width: 157px;
  margin: 0 auto;
}

.features__image {
  display: block;

  img {
    display: block;
  }

  &:nth-child(1),
  &:nth-child(2) {
    display: none;
  }

  margin-bottom: -50px;
}

@media (min-width: @tablet-width) {
  .features::before {
    height: 150px;
    top: -30px;
  }

  .features__wrap {
    padding: 0;
    width: 620px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .features__list {
    margin-top: 50px;
    order: 2;
    width: 310px;
  }

  .features__item {
    margin-bottom: 38px;

    &:first-child {
      margin-top: 25px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .features__title {
    text-align: left;
  }

  .features__description {
    text-align: left;
    margin: 0;
    width: 100%;
  }

  .features__images {
    width: 300px;
    margin: 0;
  }

  .features__image {
    position: relative;
    margin: 0;
    margin-top: 35px;
    z-index: 2;
  }
}

@media (min-width: @desktop-width) {
  .features {
    padding-bottom: 480px;

    &::before {
      top: 0;
    }
  }

  .features__wrap {
    .container-desktop();
    display: flex;;
    flex-direction: column;
  }

  .features__list {
    display: flex;
    justify-content: space-between;
    order: 2;
    width: 874px;
    margin: 0 auto;
  }

  .features__item {
    width: 237px;
  }

  .features__item:first-child {
    margin: 0;
  }

  .features__title {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 27px;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
  }

  .features__description {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
  }

  .features__image {
    &:nth-child(1),
    &:nth-child(2) {
      display: block;
    }
  }

  .features__images {
    display: flex;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
    margin-bottom: 57px;
    // align-items: flex-start;
  }
}
