.flag {
  position: absolute;
}

.flag--hit  {
  width: 74px;
  height: 73px;
  position: absolute;
  top: 0;
  left: -2px;
  background: url(../../img/bg-hit.svg) no-repeat center;

  span {
    display: block;
    padding-left: 10px;
    color: #ffffff;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    transform: rotate(-45deg);
  }
}

.flag--panorama {
  top: 0;
  right: 20px;
  width: 140px;
  padding: 11px 19px;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #d22856;
}

@media (min-width: @tablet-width) {
  .flag--panorama {
    top: 57px;
  }

  .flag--hit {
    left: 0;

    span {
      width: 50px;
      margin-top: 10px;
      padding: 0;
    }
  }
}
