.form {
  font-size: 18px;
  line-height: 30px;
  font-weight: inherit;
  color: #283645;
  margin-bottom: 62px;
  &__achievments,
  &__applications {
    background-color: #f2f2f2;
  }
}

.form section {
  margin-bottom: 42px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.form__user-info,
.form__achievments,
.form__contacts,
.form__applications,
.form__emotions {
  .container();
}

.form__user-info .form__item:last-of-type {
  margin-bottom: 0;
}

.form__item {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}

.form__item--margin {
  margin-bottom: 43px;
}

.form__label--red {
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
  display: block;
  text-transform: uppercase;
  margin-left: 23px;
  margin-bottom: 10px;
}

.form__input {
  width: 100%;
  padding: 20px;
  border: 2px solid #e5e5e5;
  border-radius: 3px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}

.form__title {
  margin: 40px auto;
  padding: 0;
  width: 250px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #d22856;
  text-transform: uppercase;
  text-align: center;
}

.form__contacts .form__title {
  display: none;
}

.form__checkbox,
.form__radio {
  display: none;
}

.form__label--checkbox,
.form__label--radio  {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 70px;
  position: relative;
}

.form__label--checkbox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 39px;
  height: 39px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 3px;
}

.form__checkbox:checked + .form__label--checkbox::before {
  background-image: url(../../img/icon-yes.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.form__label--radio::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 39px;
  height: 39px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.form__radio:checked + .form__label--radio::before {
  background-image: url(../../img/red-circle.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.form__emotions .form__title  {
  margin-top: 0;
  margin-bottom: 16px;
}

.form__textarea {
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  padding: 20px;
  border: 2px solid #e5e5e5;
  border-radius: 3px;
  resize: none;
}

.form__wrap {
  .container();
  margin-top: 48px;
}

.form__note {
  width: 200px;
  margin: 0 auto;
  padding: 0;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.form__sign {
  color: #d22856;
}

@media (min-width: @tablet-width) {
  .form {
    display: flex;
    flex-direction: column;
    .container();
    margin-bottom: 85px;
  }

  .form__user-info,
  .form__achievments,
  .form__contacts,
  .form__applications,
  .form__emotions {
    padding: 0;
    margin-bottom: 66px;
  }

  .form__user-info .form__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .form__item .form__label--red {
    margin: 0;
    margin-right: 20px;
  }

  .form__applications {
    order: 2;
    padding: 0 58px;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
  }

  .form__applications .form__title {
    width: 368px;
    margin-top: -11px;
    margin-bottom: 45px;
    background-color: #ffffff;
  }

  .form__applications .form__item:last-of-type {
    margin-bottom: 54px;
  }

  .form__contacts {
    order: 3;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
    padding: 0 58px;
  }

  .form__contacts .form__title {
    display: block;
    width: 260px;
    margin-top: -10px;
    background-color: #ffffff;
  }

  .form__contacts .form__item {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 34px;
  }

  .form__contacts .form__item::before {
    content: "";
    position: absolute;
    top: 1px;
    right: 2px;
    width: 71px;
    height: 71px;
    background-color: #e5e5e5;
  }

  .form__contacts .form__input {
    padding-right: 91px;
  }

  .form__contacts .form__label--red {
    margin-top: 10px;
    margin-left: 20px;
  }

  .form__achievments {
    order: 4;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
    padding: 0 58px;
  }

  .form__achievments .form__title {
    width: 430px;
    background-color: #ffffff;
    margin-top: -10px;
  }

  .form .form__emotions {
    order: 5;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
    padding: 0 58px;
    padding-bottom: 50px;
  }

  .form__emotions .form__title {
    width: 260px;
    background-color: #ffffff;
    margin-top: -10px;
    margin-bottom: 40px;
  }

  .form__wrap {
    order: 6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .form__note {
    margin: 0;
    width: 180px;
  }
}
