.main-header {
  background: #1d2631 url(../img/bg-back-mobile@1x.jpg) no-repeat;

  font-family: "Open Sans", Arial, sans-serif;
  color: #ffffff;
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
}

.main-header__top-wrapper {
  background-color: rgba(0,0,0,0.3);

  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 66px;
  .container-padding();
}

.main-header__toggle {
  order: 2;
  font-size: 0;
  width: 50px;
  height: 24px;
  border: none;
  background: url(../../img/icon-menu-burger.svg) no-repeat center;
}

.main-header__main-wrapper {
  display: block;
}

.main-header__application-wrap {
  width: 100%;
  .container-padding();
}

.main-header__tagline {
  display: none;
  font-size: 40px;
  line-height: 40px;
  font-weight: 300;
  width: 218px;
  text-align: center;
  padding: 0;
  margin: 0 auto;
}

.main-header__application-image {
  margin-top: 110px;
  margin-left: 0;
}

.main-header__available {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  width: 280px;
  text-align: center;
}

.main-header__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
}

@media (min-width: @tablet-width) {
  .main-header__main-wrapper {
    display: flex;
    justify-content: flex-start;
  }

  .main-header__application-image {
    order: 2;
    margin-left: -100px;
  }

  .main-header__application-wrap {
    width: 300px;
    margin: 0;
    margin-left: 20px;
    margin-top: 100px;
    z-index: 2;
  }

  .main-header__tagline {
    display: block;
  }
}
