.main-footer {
  .container();
  padding-bottom: 40px;
  background-color: #ffffff;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #283645;
}

.main-footer--index {
  display: none;
  .container();
}

.main-footer__logo {
  width: 174px;
  display: block;
  margin: 0 auto;
  margin-bottom: 42px;
  text-align: center;
}

.main-footer__creators {
  position: relative;
  width: 140px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 9px 5px;
  font-size: 14px;
  line-height: 18px;
}

.main-footer__academy {
  position: absolute;
  top: 0;
  right: 0;
  width: 27px;
  height: 34px;
  background: url(../../img/logo-htmlacademy.svg) no-repeat center;
  font-size: 0;
}

@media (min-width: @tablet-width) {
  .main-footer--index,
  .main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-footer__logo,
  .main-footer__creators,
  .main-footer__academy {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .main-footer--index,
  .main-footer {
    .container-desktop();
    padding-bottom: 72px;
  }
}
