.main-header {
  background: #1d2631 url(../img/bg-back-mobile@1x.jpg) no-repeat center top;

  font-family: "Open Sans", Arial, sans-serif;
  color: #ffffff;
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  // padding-bottom: 10px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url(../img/bg-back-mobile@2x.jpg);
    background-size: auto 464px;
  }
}

.main-header__top-wrapper {
  background-color: rgba(0,0,0,0.3);

  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 66px;
  .container();
}

.main-header__toggle {
  order: 2;
  font-size: 0;
  width: 50px;
  height: 24px;
  border: none;
  background: url(../../img/icon-menu-burger.svg) no-repeat center;
}

.main-header__main-wrapper {
  display: block;
  margin-top: 110px;
  padding-bottom: 34px;
}

.main-header__tagline {
  display: none;
  font-size: 40px;
  line-height: 40px;
  font-weight: 300;
  width: 218px;
  text-align: center;
  padding: 0;
  margin: 0 auto;
}

.main-header__application-image {
  img {
    display: block;
  }
}

.main-header__application-wrap {
  width: 280px;
  margin: 0 auto;
  margin-top: 28px;
}

.main-header__available {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  width: 280px;
  text-align: center;
}

.main-header__title {
  width: 280px;
  margin: 0 auto;
  margin-top: 33px;
  margin-bottom: 53px;
  padding: 0;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
}

@media (min-width: @tablet-width) {
  .main-header {
    background-image: url(../../img/bg-back-tablet@1x.jpg);

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url(../../img/bg-back-tablet@2x.jpg);
      background-size: auto 729px;
    }
  }

  .main-header__main-wrapper {
    width: 620px;
    margin: 0 auto;
    margin-top: 74px;
    padding: 0;
    display: flex;
  }

  .main-header__application-image {
    margin-left: -339px;
    flex-shrink: 0;
    order: 2;
  }

  .main-header__application-wrap {
    width: 300px;
    margin: 0;
    margin-top: 24px;
    z-index: 2;
  }

  .main-header__tagline {
    display: block;
    margin-bottom: 30px;
    font-size: 40px;
    line-height: 48px;
  }

  .main-header__available {
    font-size: 18px;
    width: 300px;
  }

  .main-header__title {
    width: 620px;
    margin: 0 auto;
    margin-top: 75px;
    margin-bottom: 78px;
    font-size: 50px;
    line-height: 50px;
  }
}

@media (min-width: @desktop-width) {
  .main-header {
    background-image: url(../../img/bg-back-desktop@1x.jpg);

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url(../../img/bg-back-desktop@2x.jpg);
    }
  }

  .main-header__big-wrapper {
    background-color: rgba(0,0,0,0.3);
  }

  .main-header__wrapper {
    .container-desktop();
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .main-header__top-wrapper {
    background-color: transparent;
    padding: 0;
  }

  .main-header__toggle {
    display: none;
  }

  .main-header__main-wrapper {
    .container-desktop();
    margin-top: 100px;
  }

  .main-header__title  {
    width: 820px;
    margin-top: 67px;
    margin-bottom: 100px;
  }

  .main-header__application-image {
    margin-left: -290px;
  }
}
