.page-main {
  background-color: #ffffff;

  font-family: "Open Sans", Arial, sans-serif;
  color: #283645;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
}
.page-main__title {
  margin-top: 44px;
  .container();
}

.page-main__sentence {
  width: 250px;
  margin: 0 auto;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 30px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .page-main__sentence {
    width: 600px;
    margin-bottom: 0;
    &:last-child {
      width: 340px;
      margin-bottom: 46px;
    }
  }
}
